<div id="<%= dom_id post %>" class="flex justify-center">
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">
        <%= post.title %>
      </h2>
      <p><%= post.content %></p>
    </div>
  </div>
</div>
