<p style="color: green"><%= notice %></p>

<div id="posts">
  <div class="splide" role="group" aria-label="Splideの基本的なHTML">
    <div class="splide__track">
      <ul class="splide__list">
        <% @posts.each do |post| %>
          <li class="splide__slide h-full"><%= render post %></li>
        <% end %>
      </ul>
    </div>
    <div class="splide__progress">
      <div class="splide__progress__bar">
      </div>
    </div>
  </div>
</div>

<style>
  .splide__progress__bar {
    height: 3px;
    background: #ccc;
  }
</style>