<div class="p-5">
  <p style="color: green"><%= notice %></p>

  <div id="posts" class="h-full">
    <ul class="">
      <% @posts.each do |post| %>
        <li>
          <%= link_to edit_post_path(post), class: 'p-2 border rounded-sm block' do %>
            <%= post.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>