<div class="p-5">
  <p style="color: green"><%= notice %></p>

  <%= render @post %>

  <div class="flex justify-between w-full mt-3">
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline btn-accent" %>
    <%= button_to "Delete", @post, method: :delete, class: "btn btn-outline btn-error" %>
  </div>
</div>
